// $root: (
//   fontSize: 16px,
//   lineHeight: 24px
// );
// $scale0: (
//   fontSize: 1rem,
//   line: 1.5rem,
//   autoLineCount: 1,
//   autoLineHeight: 1.5rem
// );
// $scale1: (
//   fontSize: 2rem,
//   line: 1.5rem,
//   autoLineCount: 2,
//   autoLineHeight: 3rem
// );
// $scale2: (
//   fontSize: 4rem,
//   line: 1.5rem,
//   autoLineCount: 3,
//   autoLineHeight: 4.5rem
// );
// $scale3: (
//   fontSize: 8rem,
//   line: 1.5rem,
//   autoLineCount: 6,
//   autoLineHeight: 9rem
// );


// $root: (
//   fontSize: 18px,
//   lineHeight: 36px
// );
// $scale0: (
//   fontSize: 1rem,
//   line: 2rem,
//   autoLineCount: 1,
//   autoLineHeight: 2rem
// );
// $scale1: (
//   fontSize: 1.8333333rem,
//   line: 2rem,
//   autoLineCount: 1,
//   autoLineHeight: 2rem
// );
// $scale2: (
//   fontSize: 3.2777778rem,
//   line: 2rem,
//   autoLineCount: 2,
//   autoLineHeight: 4rem
// );
// $scale3: (
//   fontSize: 6rem,
//   line: 2rem,
//   autoLineCount: 3,
//   autoLineHeight: 6rem
// );

// 1.618
$root: (
  fontSize: 18px,
  lineHeight: 36px
);
$scale0: (
  fontSize: 1rem,
  line: 2rem,
  autoLineCount: 1,
  autoLineHeight: 2rem
);
$scale1: (
  fontSize: 1.6111111rem,
  line: 2rem,
  autoLineCount: 1,
  autoLineHeight: 2rem
);
$scale2: (
  fontSize: 2.6111111rem,
  line: 2rem,
  autoLineCount: 2,
  autoLineHeight: 4rem
);
$scale3: (
  fontSize: 4.2222222rem,
  line: 2rem,
  autoLineCount: 3,
  autoLineHeight: 6rem
);
