<section class="header">
  <nav>
    <div class="profile">
      <a class="profile__logo" href="/">
        RL
      </a>

      <div class="profile__links" style="display:none;">
        <%= partial "partials/social" %>
      </div>
    </div>

    <ul class="navigation">
      <li>
        <a href="#">
          <%= lorem.words(3) %>
        </a>
      </li>
    </ul>
  </nav>
</section>
